.addSponsorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
}

.addSponsorForm {
  margin: 20px auto 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 5px;
  width: 1000px;
}

.right-border {
  border-right: 2px solid rgb(199, 199, 199);
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: left;
}

.form-holder input, .form-holder select, .form-holder textarea {
  background: none;
  height: 40px;
  border-radius: 4px;
  resize: none;
  border: 1px solid gray;
  padding-left: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.addSponsorContainer button {
  grid-column: 1 / -1;
  padding: 10px;
  width: 300px;
  height: 60px;
  margin: 20px auto 20px auto;
  color: white;
  background-color: #5E5BFF;
  border: 0px solid gray;
  border-radius: 7px;
}



.addSponsorContainer button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 81, 255, 0.514);
  border: 1px solid rgba(97, 97, 97, 0);
}

#back-arrow {
  position: auto;
  margin-left: -200px;
  margin-top: 25px;
  color: black;
  font-size: 2rem;
  position: fixed;
}

#back-arrow:hover {
 cursor: pointer;
}