.detail-view {
    margin: 0px 20px 20px 20px;
    max-width: 100%;
}

.detail-card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-view-title {
    text-align: left;
    margin-left: 20px;
}

.detail-card {
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 228);
    text-align: left;
    padding: 20px;
}

.detail-card :first-child {
    color: #d14063;
    height: 200px;
    width: 200px;
    position: absolute;
}

.detail-card :nth-child(2), .detail-card :nth-child(3), .detail-card :nth-child(4), .detail-card :nth-child(5), .detail-card :nth-child(6) {
    margin-left: 300px;
    padding-left: 5px;
}

.detail-buttons {
    margin-top: 20px;
    margin-left: 20px;
}