.editChildForm {
  display: grid;
  grid-template-columns: 1fr;
  max-height: calc(100vh - 250px);
}

.editChildContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  margin: -80px auto auto auto;
  width: 600px;
  padding: 0px 60px 20px 60px;
  flex-wrap: wrap;
  overflow: scroll;
}

.editChildContainer h1 {
  text-align: center;
}

.editChildForm input {
  background: none;
  height: 40px;
  border-radius: 4px;
  border: 1px solid gray;
  padding-left: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.editChildContainer button {
  grid-column: 1 / -1;
  padding: 10px;
  width: 200px;
  height: 50px;
  margin: 20px auto 20px auto;
  color: white;
  background-color: #5e5bff;
  border: 0px solid gray;
  border-radius: 7px;
}

.editChildContainer button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
  border: 1px solid gray;
}

.double-holder {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#back-arrow-edit-child {
  position: relative;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: -65px;
  color: black;
  font-size: 2rem;
}

#back-arrow-edit-child:hover {
  cursor: pointer;
}
