.Header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(177, 177, 177);
    background: rgb(2,0,36);
    background: white;
}

.Header img {
    max-width: 230px;
    padding: 10px;
}

.Header img:hover {
    cursor: pointer;
}