.Sidebar {
  z-index: -1;
  height: 100%;
  width: 250px;
  background-color: white;
  border-right: 1px solid gray;
  position: sticky;
  top: 0;
}

.SidebarList {
  height: 100%;
  width: 100%;
  padding: 20px 0 0 0;
  margin: 10px 0 0 0;
}

.SidebarList a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
}

.SidebarList .row {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  height: 24px;
  justify-content: space-between;
  align-items: center;
}

.SidebarList .row-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 25px;
  color: black;
}

.SidebarList .row-title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  color: black;
}

.Sidebar .row:hover {
  cursor: pointer;
  color: #d14063;
}

.Sidebar .active .row-icon {
  color: #d14063;
  border-left: 3px solid #d14063;
  padding-left: 22px;
}

.Sidebar .active .row-title {
  color: #d14063;
}

.Sidebar .Hidden {
  display: none;
}

.MenuIcon {
  display: flex;
  flex: 100%;
  padding: 20px 0 0 25px;
  align-self: left;
  justify-content: left;
}

.MenuIcon:hover {
  cursor: pointer;
  color: #d14063;
}

.SidebarList :nth-child(4) {
  margin-top: 180px;
}

.SidebarList :nth-child(5) {
  margin-top: calc(100vh - 240px);
  position: sticky;
  bottom: 100px;
}

.SidebarList :nth-child(6) {
  margin-top: auto;
  position: sticky;
  bottom: 20px;
}
