#sponsors-container {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
}

#sponsors-table {
    text-align: left;
    
    width: 100%;
}

#table-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: left;
    margin-top: -100px;
    margin-left: 50px;  
}

#table-title :first-child {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    height: 100%;
    width: 50px;
    color: red;
}

#sponsors-table-head * {
    padding-left: 10px;
}

.sponsor-list-item * {
    border-right: 1px solid black;
    margin-right: 10px;
    padding-left: 10px;
    height: 40px;
}

.sponsor-list-item :last-child {
    border-right: none;
}

/* Search & sort box */

.search-sort-container {
    margin-left: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 1000px;
}

.search-sort-container * {
    border: none;
    background: none;
}

#sponsor-sort {
    border-right: 1px solid grey;
}

#sponsor-search {
    margin-left: 5px;
    width: 90%;
}