#sponsors-container {
    border: 1px solid black;
    border-radius: 7px;
    max-height: calc(100vh - 200px);
    overflow: auto;
}

#sponsors-table {
    text-align: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}


#sponsors-table-head {
    position: sticky;
    top: 75px;
    background-color: white;
    
}

#sponsors-table-head * {
    padding-left: 10px;
}

#sponsors-table-body tr {
    margin-bottom: 5px;
}

.sponsor-list-item {
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
}

.sponsor-list-item:hover {
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.sponsor-list-item * {
    padding-left: 10px;
    height: 40px;
}

.sponsor-list-item :last-child {
    border-right: none;
}

/* Search & sort box */

.search-sort-container {
    margin-left: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 1000px;
    background-color: white;
}

.search-sort-container * {
    border: none;
    background: white;
}

#sponsor-sort {
    border-right: 1px solid grey;
}

#sponsor-search {
    padding-left: 5px;
    width: 90%;
}

#functions-container {
    position: sticky;
    top: 0;
    margin-left: 0;
    background-color: white;
    padding: 10px 0 5px 10px;
}
