@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.routeContent {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10em;
  z-index: 0;
  margin-left: 100px;
  width: calc(100vw - 150px);
  margin-right: 50px;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#loader {
  margin: 30vh auto auto auto;
  scale: 1;
  color: #d14063; 
}

.hidden {
  display: none;
}